/*form*/
.field label {
	display:block;
	margin:0;
}
.field input {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:5px 2px;
	height:16px;
	background-color:#fff;
}
body{
	width: 600px;
	font:normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
}